/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
* Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
* Kroc Camen, and the H5BP dev community and team.
*/

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */

h1, h2, h3, h4, h5, h6 {text-transform: uppercase; }
h1, h2, h3, h4, h5, h6, p { font-family: Lato;}

h1 {font-size: 1.75em;}
h2 {font-size: 1.6em;}
h3 {font-size: 1.4em;}
h4 {font-size: 1.25em;}
h5 {font-size: 1em;}
h6 {font-size: 0.8em;}


.thin {font-weight: 300;}
.light{font-weight: 400;}
.medium{font-weight: 700;}
.bold {font-weight: 900;}
.italic{font-style: italic;}


/* ==========================================================================
   Custom styles
   ========================================================================== */

html, body {
    width: 100%;
    height:100%;
    margin:0px;
    padding:0px;
    overflow-x: hidden;
}

.soft-contrast {
    background-color: #eae8de;
}

h2, h3 {
    margin-bottom:0px;

}

section {
    padding:5% 5%;
    margin: 5% 0%;
}

    section h2 {
        margin:0;
        padding: 0% 0% 5% 0%;
    }

.next, .prev{
    padding: 0 1%;
    opacity: 0.5;
    -moz-opacity: 0.5;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.next:hover, .prev:hover{

    opacity: 1;
    -moz-opacity: 1;
    transition: 0.5s;
    -webkit-transition: 0.5s;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

    /*========================================================================================
        First Breakpoint at 1024px min width
    ========================================================================================*/

@media only screen and (min-width: 1024px) {

    .slides-pagination {
        bottom:100px !important;

    }

    figure{
        height: 100vh;
    }
    main{
        width: 100%;
        padding:0;

    }

    main .main-wrapper{
        width: 100%;
        max-width:1000px;
        margin:0 auto;
    }

    .button{
        float: left;
        margin: 0;
        width:45%;
    }

    .button p {
        padding:15px 0 !important;
        margin: 0 auto!important;
        text-align: center;
    }

    .buy-prints {
        max-width:100%;
        min-width:100%;
    }

    .buy-prints h2 {
        max-width:50%;
        float:left;
    }

    .buy-prints p {
        max-width:40%;
        float:left;
        padding-left:10%;
    }

    .about {
        min-width:100%;
    }

    .about p {
        min-width:100%;
        padding-top:0;
    }
    
    #form-div p, .submit, h2{
        max-width: 600px;
        margin: 20px auto;
    }
    #menu-logo .mobile-break {
        display:none;
    }

    #menu-logo img {
        margin:10px;
    }

    small {
        font-size: 1em;

    }

    #menu-logo {
        width:450px;
        overflow:hidden;
    }

    #menu-logo h1 {
        width:450px;
        position:relative;
        top:5px;
    }

    #nav-main {
        padding-top:4px!important;
    }

    .cart {
        padding-top:7px;
        padding-bottom:7px;
    }


}
