body{
    background-color: #737373;
}
header{
    background-color: #105cb6;
    opacity: 50;
    height: 200px;
}

header p {
    padding-top: 10px;
    margin: 0;
}

#menu-button a{
    font-size: 2em;
    color: #ffffff;
    float:right;
    padding-right: 10px;
    text-decoration: none;
}

#menu-logo{
    float:left;
}

main{
    background-color: #737373;
    height: 700px;
}
main p {
    padding-top: 10px;
    margin: 0;
}

footer{
    background-color: #cccccc;
    opacity: 50;
    height: 50px;
    position: absolute;
    bottom: 0;
    width:100%;
    text-align: center;
    font-size: 2em;
}


footer p {
    text-align: center;
}