body{
    background-color: #fff;
    font-size: 16px;
    height:100%;
    -webkit-overflow-scrolling: touch;
}

p{font-size: 1.2em;}

.wrapper {
    /*min-height:100%;*/
    position:relative;

}

header{
    max-height: 100px;
    /* height: 100px;*/
}

header p {
    padding-top: 10px;
    margin: 0;
}

header h1{
    line-height: 0.8em;
    color:#fff;

}

figure{
    background-image: url("../img/bilar.png");
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center center;
    height: 60vh;

}

figure img{
    max-height: 500px;
}

#menu-button {
    position:relative;
    top:15px;
    right:5%;

}

    #menu-button a{
        font-size: 2em;
        color: #ffffff;
        float:right;
        padding: 5%;
        text-decoration: none;
}

#menu-logo-wrapper{
    background-color: rgba(0, 0, 0, 0.8);
    -moz-opacity: 0.8;
    width: 100%;
    float:left;
}

#menu-logo{
    float:left;
    margin-right: 10px;
}
    #menu-logo img{
        width: 70px;
        margin: 5% 2% 5% 5%;
        float: left;
    }


    #menu-logo h1{
        line-height: 0.8em;
        font-size:1.2em;
        min-width:300px;
    }
    #menu-logo span{
        line-height: 14px;

    }


main{
    background-color: #fff;
    padding: 0 5%;

}
main p {
    padding-top: 5%;
    margin: 0;
    max-width:500px;
}

main h2{
    font-size: 2em;
    line-height: 0.9em;
}

main h2 .row-2{
    font-size: 1.4em;
    line-height: 0.9em;
}

main h2 .row-3{
    font-size: 0.8em;
    line-height: 0.2em;
}


.main-cart{
    background-color: #ffc82e;
    width: 75%;
    margin: 0 12.5%;
    text-align: center;
}

    .main-cart i {
        font-size: 2em;
        margin-right: 10px;
    }

.button{

    background-color: #000;
    text-align: center;
    max-width:500px;
    margin: 5% 0%;
}
    .button p{
        display: block;
        width: 100%;
        padding: 15px 0px;
        text-transform: uppercase;
        color: #fff;
        margin: 0 auto;

    }


footer{
    background: rgba(0, 0, 0, 0.6);
    opacity: 0.8;
    -moz-opacity: 0.8;
    opacity: 50;
    height: 85px;
    position: relative;
    bottom: 85px;
    color:#737373;
    left:0px;
    width:100%;
    text-align: center;
    font-size: 0.6em;
    z-index: 5;
    overflow-x:hidden;
}


.slides-wrapper {
    height:60vh;

}

footer {
    display: none;
}

footer .social {
    width:250px;
    position: absolute;
    top:15px;
    right:0px;
}



footer .social img {
    width:45px;
    opacity: 0.7;
    padding:0px 3%;
}

footer .social img:hover {
    opacity:1;
}

footer .footer-logo {
    float:left;
    width:160px;
    height:auto;
    padding:1% 3%;
}

footer p {
    text-align: left;
    max-width:60%;
    font-family:Lato;
    font-weight: 300;
    margin-top:17px;
    float:left;
    }

/* =Nav
-------------------------------------------------------------- */
#nav-trigger {
    display: none;
    text-align: center;
    float:right;
}
#nav-trigger span {
    display: inline-block;
    padding: 10px 15px;
    font-size: 1.6em;
    background-color: rgba(0, 0, 0, 0);
    -moz-opacity: 0.8;
    color: white;
    cursor: pointer;
    text-transform: uppercase; }

#nav-trigger span:hover {
    background-color: rgba(0, 0, 0, 0.8);
    -moz-opacity: 0.8; }
#nav-trigger span.open:after {
    border-left: solid 10px transparent;
    border-top: none;
    border-bottom: solid 10px #fff;
    border-right: solid 10px transparent; }

nav {
    margin-bottom: 0px;
    font-family:Lato;
    font-weight:300;
}

nav#nav-main {
    background-color: rgba(0, 0, 0, 0);
    -moz-opacity: 0;
    padding: 10px 0;
    float:left;
}
nav#nav-main ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; }
nav#nav-main li {
    display: inline-block;
    padding: 0 5px; }
nav#nav-main li:last-child {
    border-right: none; }
nav#nav-main a {
    display: block;
    color: white;
    padding: 10px 15px;
    text-decoration: none;
    font-size:1em;
    font-family:Lato;
    font-weight: 300;
}
nav#nav-main a:hover {
    background-color: #fff;
    color: #000; }

nav#nav-mobile {
    z-index:99999;
    overflow: visible;
    position: relative;
    display: none; }
nav#nav-mobile ul {
    display: none;
    list-style-type: none;
    position: absolute;
    left: 0;
    right: 0;
      top:45px;
    margin-left: 0px;
      padding-left:0px!important;
    margin-right: auto;
    text-align: right;
    background-color: rgba(25, 25, 25, 1);
    -moz-opacity: 1; }
  nav#nav-mobile li {
    display: block;
    padding: 0px 0;
    margin: 0 0px;
    width:100%;
    border-bottom: solid 1px #222222; }
nav#nav-mobile li:last-child {
    border-bottom: none; }
nav#nav-mobile a {
    display: block;
    color: #999999;
    padding: 10px 30px;
    text-decoration: none;
    font-size:1.1em;
}
nav#nav-mobile a:hover {
    background-color: rgba(0, 0, 0, 0.8);
    -moz-opacity: 0.8;
    color: #fff; }

/* Nav-button
-------------------------------------------------------------- */

#nav-toggle span { 
    position: relative;
    padding: 0px;
    display: block;
    left: 10px; top: 10px;
    height: 5px;
    width: 35px;
}

.nav-toggle-a {
    position: absolute;
    right: 15px; top: 15px;
    width: 50px;
    height: 30px;
    padding: 0px;
}

#nav-toggle span, 
#nav-toggle span:before,
#nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px; 
}

#nav-toggle span:hover {
    background-color: #fff;
}

#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
}
#nav-toggle.active span {
    background-color: transparent;
}
#nav-toggle.active span:before, #nav-toggle.active span:after {
    top: 0px;
}
#nav-toggle.active span:before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
#nav-toggle.active span:after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

    /** Responsive contact */
#feedback-page{
    text-align:center;
}

#form-main{
    width:100%;
    float:left;
    padding-top:0px;
    background-color:rgba(72,72,72,0.4);
}

#form-div {

    padding:1% 5% 5% 5%;
    margin:3% 0% 0% 0%;
    width:100%;
    max-width:580px;

    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    box-sizing: border-box;
    margin:0 auto;
}

.feedback-input {
    color:#3c3c3c;
    font-family: Lato;
    font-weight:300;
    font-size: 1.2em;
    border-radius: 0;
    line-height: 22px;
    background-color: #fbfbfb;
    padding: 13px 13px 13px 54px;
    margin-bottom: 10px;
    width:100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    border: 3px solid rgba(0,0,0,0);
}

.feedback-input:focus{
    background: #fff;
    box-shadow: 0;
    border: 3px solid #3498db;
    color: #3498db;
    outline: none;
    padding: 13px 13px 13px 54px;
}

.focused{
    color:#30aed6;
    border:#30aed6 solid 3px;
}

/* Icons ---------------------------------- */
#name{
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#name:focus{
    background-image: url(http://rexkirby.com/kirbyandson/images/name.svg);
    background-size: 30px 30px;
    background-position: 8px 5px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email{
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#email:focus{
    background-image: url(http://rexkirby.com/kirbyandson/images/email.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

#comment{
    background-image: url(http://rexkirby.com/kirbyandson/images/comment.svg);
    background-size: 30px 30px;
    background-position: 11px 8px;
    background-repeat: no-repeat;
}

textarea {
    width: 100%;
    height: 150px;
    line-height: 150%;
    resize:vertical;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
    background-color:white;
}

#submit-button{
    font-family: 'Lato';
    float:left;
    width: 100%;
    cursor:pointer;
    background-color: #000;
    color:white;
    font-size:1.4em;
    padding-top:22px;
    padding-bottom:22px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    font-weight:700;
}

#submit-button:hover{
    background-color: rgba(0,0,0,0);
    color: #000;
}

.submit:hover {
    color: #000;
    font-size:1em;
}

.ease {
    width: 0px;
    height: 74px;
    background-color: #fbfbfb;
    -webkit-transition: .3s fade;
    -moz-transition: .3s fade;
    -o-transition: .3s fade;
    -ms-transition: .3s fade;
    transition: .3s fade;
}

.submit:hover .ease{
    width:100%;
    background-color:white;
}

.mobile-only {
    display:none !important;
}

.cart {
    display:inline-block !important;
    position: absolute;
    right:0px;
    top:0px;
    color:#fff;
    padding:6px 15px;
    width:40px;
    margin:0 auto;
    height:54px;
    transition: 0.3s;
}

    .cart:hover {
        background-color: darkcyan;
        transition: 0.3s;
        color:#000;

    }

    .cart span {
        display:none!important;
    }

.buy-prints {
    float:left;
    max-width:500px;
}

.about {
    float:left;
    max-width:500px;
}

nav .fa {
    display: none;
}

/* =Media Queries
-------------------------------------------------------------- */
@media all and (max-width: 850px) {
    #nav-trigger {
        display: block; }

    nav#nav-main {
        display: none;
    }

    nav#nav-mobile {
        display: block; }


    nav#nav-mobile .fa {
        display:inline-block !important;
        padding-left:15px;
        color:#fff;

    }

    .mobile-only {
        display:inline-block!important;
    }

    .next, .prev {
        display:none !important;
    }

    .cart {
        display:none !important;
    }

    .cart span {
        display: none!important;
    }






}

@media all and (min-width: 700px) {

    main {
        padding:0px;

    }

    .main-wrapper {
        float:none;
        margin:0 auto;
        width:100%;

    }

    .buy-prints {
        float:none;
        margin:0 auto;
        width: 800px !important;
    }
    .about {
        float:none;
        margin: 0 auto;

    }

}

@media all and (min-width:900px) {




}

@media all and (min-width:1024px) {

    .buy-prints {
        float:left;

    }
    .about {
        float:left;

    }

    .slides-wrapper {
        height:100vh;

    }
    footer {
        display:inline-block!important;
    }


}