
<footer>
    <div id="footerContent">
        <div class="terms">
            <h3>Purchasing Conditions</h3>
            <span>Delivery</span>           <br>
            <span>Payment Options</span>    <br>
            <span>Returns</span>
        </div>

        <div class="socialMedia">
            <h3>Get in touch</h3>
            <span><i class="fa fa-fw fa-facebook-official"></i> Facebook</span>           <br>
            <span><i class="fa fa-fw fa-instagram"></i> Instagram</span>    <br>
            <span><i class="fa fa-fw fa-picture-o"></i> 500px</span>
        </div>


        <div class="contact">
            <h3>Contact me</h3>
            <span> +46 (0)73-930 86 62</span>           <br>
            <span>info@andreas-karlsson.net</span>
        </div>

        <div class="websiteInformation">
            <h3>Website information</h3>
            <span>© Andreas Karlsson 2015</span>           <br>
            <span>Website by Sans Webbutveckling</span>
        </div>
        <div class="watermark">
            <img class="footer-logo" src="img/digimarc.png" alt="Digimarc logo">

            <p>
                Images Digitally Watermarked by Digimarc | Images on the website have been digitally
                watermarked with ownership and usage information. Digimarc and the Digimarc logo
                are registered trademarks of Digimarc Corporation. The "Digimarc-Enabled" Web Button
                is a trademark of Digimarc Corporation, used with permission.
            </p>

        </div>

    </div>

</footer>
