{% extends "base.twig" %}


{% block content %}
    <form action="admin.php?addPrint" method="post" >
        <input type="text" name="name">
        <input type="text" name=""
    </form>
{% endblock %}
