{% extends "admin_base.twig" %}


{% block content %}

    {% for print in prints %}

        <div class="listing-print">
            <img src="img/{{ print.url }}">
            <a href="admin.php?EditPrint/editPrint/{{ print.printID }}">Edit</a>
            <a href="admin.php?DeletePrint/deletePrint/{{ print.printID }}">Delete</a>
        </div>

    {% endfor %}

{% endblock %}
