{% extends "admin/admin_base.twig" %}

{% block content %}
    
    <div class="success-message">{{ status }}</div>

<div class="main-content">
    <h2>Add product</h2>
        <form enctype="multipart/form-data" action="index.php?AdminAddPrint/savePrint" method="post" class="basic-grey">
            <label>Choose picture: </label>
            <input type="file" name="image" accept="image/*" required>
                <br>
                <br>
            <label>Image alt text: </label>
            <input type="text" name="alt" required>
            <br>
            <label>Title: </label>
            <input type="text" name="title" required>
                <br>
            <label>Description: </label>
            <input type="text" name="description" required>
                <br>
            <label>Category: </label>
            <select name="category" required>
                {% for category in categories %}
                <option value="{{ category.categoryID }}">{{ category.name }}</option>
                {% endfor %}
            </select>
                <br>
            <input type="submit" value="Save">
        </form>
</div>

{% endblock %}
