{% extends "admin/admin_base.twig" %}

{% block content %}

<div class="main-content">
    <h2>Delete Print?</h2>

    <div class="admin-listing-print">
        <div class="column">
        <span>Confirm deletion</span>
        </div>
        <div class="column">
            {{ print.title }}
        </div>
        <div class="column"><a href="index.php?AdminDeletePrint/confirmedDeletePrint/{{ printID }}"><i class="fa fa-trash-o"></i>
                Delete</a>
        </div>
        <div class="column"><a href="index.php?AdminProductList/getAllPrints"><i class="fa fa-ban"></i>
                Cancel</a>
        </div>
    </div>

</div>
{% endblock %}
