{% extends "admin/admin_base.twig" %}

{% block content %}

    <div class="main-content">
        <h2>Create new print</h2>
        <form action="index.php?AdminAddPrint/savePrint" method="post" class="basic-grey">
            <label>Choose picture: </label>
            <input type="file" name="image" accept="image/*">
            <br>
            <br>
            <label>Title: </label>
            <input type="text" name="title">
            <br>
            <label>Description: </label>
            <input type="text" name="description">
            <br>
            <label>Category: </label>
            <select name="category">
                {% for category in categories %}
                    <option value="{{ category.categoryID }}">{{ category.name }}</option>
                {% endfor %}
            </select>
            <br>
            <input type="submit" value="Save">
        </form>
    </div>

{% endblock %}
