{% extends "admin/admin_base.twig" %}


{% block content %}
    
    <a href="admin.php?AdminAddPrint/addPrint/">Add new print</a>
    
    <div class="listing-print">

    {% for print in prints %}

            <img src="img/{{ print.thumbnail }}">
            <a href="admin.php?AdminEditPrint/editPrint/{{ print.printID }}">Edit</a>
            <a href="admin.php?AdminDeletePrint/deletePrint/{{ print.printID }}">Delete</a>

    {% endfor %}
    
    </div>

{% endblock %}
