{% extends "admin/admin_base.twig" %}

{% block content %}

    <h1>o hai!</h1>
    <div id="infoWrapper">

        <form action="admin.php?insertPrint" method="post">
            <fieldset>
            <legend>Choose picture</legend>
            <input type="file" name="url" accept="image/*">
            <legend>Title: </legend>
            <input type="text" name="title">
            <legend>Description: </legend>
            <input type="text" name="alt">
            <legend>Category: </legend>
            <select name="category">
                <option value="Street">Street</option>
                <option value="Landscape">Landscape</option>
            </select><br>
            <input type="submit" value="Save">
            </fieldset>
        </form>

    </div>

{% endblock %}
