{% extends "base.twig" %}


{% block content %}

    <div id="infoWrapper">
        <div class="printInfo">
            <h2 class="d-grid-2">Taxibilar mot evigheten</h2>

            <p class="printDesc d-grid-2">
                Ljudnivån är för hög. Det kryllar av idioter.
                Det stinker av urin och avgaser. Du är i new york och hatar det.
            </p>
        </div>

            <div class="printImage">
                <img src="img/newyork.jpg">
            </div>

            <div class="purchaseOptions">

            </div>

    </div>

{% endblock %}