{% extends "base.twig" %}


{% block content %}
        <div class="main-content">
            <h2>{{ category }}</h2>
            <p class="crumbs">
                <a href="index.php?Index/showStart">Home</a>
                >
                <a href="index.php?ProductList/getAllPrints">Buy Prints</a>
                > Landscape
            </p>
        {% for picture in pictures %}
    <a href="index.php?PrintInfo/getPrintInfo/{{ picture.printID }}">
            <div class="listing-print" style="background-image: url('img/printImg/{{ picture.fullSize }}')">

            </div>
    </a>
        {% endfor %}
    </div>
{% endblock %}
