{% extends "base.twig" %}


{% block content %}
    <div class="main-content">
        <h2>
            <a href="index.php?ProductList/getPrintsForCategory/1">
                Landscape
            </a>
            /
            <a href="index.php?ProductList/getPrintsForCategory/2">
                Street
            </a>
        </h2>

    </div>
{% endblock %}
