{% extends "base.twig" %}


{% block content %}
    <div class="main-content">
        <h1>{{ printID }}</h1>
        <h1>{{ frameID }}</h1>
        <h1>{{ sizeID }}</h1>
        <form method="get">

        </form>
    </div>
{% endblock %}