{% extends "base.twig" %}


{% block content %}
    <div class="row">
        {% for picture in pictures %}
            {{ picture.name }}
            {{ picture.desc }}
        {% endfor %}
    </div>
{% endblock %}
